<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean class="in.swadhin.bean.student" id="student">
   <property name="name" value="Swadhin"/>
   <property name="rollno" value="101"/>
   <property name="mark" value="97.2f"/>
   </bean>

</beans>